@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: Cormorant;
    src: url(./assets/Cormorant-VariableFont_wght.ttf);
  }
body {
  @apply flex flex-col items-center w-full
}

  #root {
    @apply text-text w-full flex flex-col items-center
  }

  main {
    @apply max-w-screen-xl
  }

  h1,h2,h3 {
    @apply font-cormorant
  }

  a:hover {
    @apply 
      underline cursor-pointer
  }

  section {
    @apply px-6 py-8 sm:py-4
  }
}
